@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  background: linear-gradient(270deg, #f97111, #ffab0b);
}

@layer base {
  @font-face {
    font-family: "Popins";
    /* font-style: normal;
    font-weight: 400;
    font-display: swap; */
    src: url(/public/font/Poppins-Regular.ttf);
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 70px !important;
  height: 70px !important;
  background-color: #eeeeee50;
  border-radius: 50%;
  color: rgb(0, 0, 0) !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #c9c9c96e;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #333 !important;
  opacity: 0.5 !important;
  border-radius: 50% !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
  opacity: 1 !important;
}
