@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  background: linear-gradient(270deg, #f97111, #ffab0b);
}

@layer base {
  @font-face {
    font-family: "Popins";
    /* font-style: normal;
    font-weight: 400;
    font-display: swap; */
    src: url(/public/font/Poppins-Regular.ttf);
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 70px !important;
  height: 70px !important;
  background-color: #eeeeee50;
  border-radius: 50%;
  color: rgb(0, 0, 0) !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #c9c9c96e;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #333 !important;
  opacity: 0.5 !important;
  border-radius: 50% !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
  opacity: 1 !important;
}

.MuiAccordionSummary-content {
  color: #e99b09;
  padding-block: 10px;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 250ms !important;
}
.MuiSvgIcon-root {
  color: #e99b09;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 250ms !important;
}
.MuiSvgIcon-root:hover {
  color: #f97111;
}
.MuiPaper-root {
  margin-block: 20px;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  box-shadow: rgba(99, 99, 99, 0.484) 0px 2px 8px 0px !important;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  display: block !important;
  border-radius: 12px !important;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root::before {
  background-color: white !important;
}
.MuiAccordionSummary-content:hover {
  color: #f97111;
}
